<div class="d-flex justify-content-center">
    <nav aria-label="Page Navigation">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link text-reset" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
            </li>
            <li class="page-item"><a class="page-link text-reset" href="#">1</a></li>
            <li class="page-item"><a class="page-link text-reset" href="#">2</a></li>
            <li class="page-item"><a class="page-link text-reset" href="#">3</a></li>
            <li class="page-item">
            <a class="page-link text-reset" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
            </li>
        </ul>
    </nav>
</div>